<script lang="ts">
  let generated = false
  let randomSearchQueries: string[] = []
  const len = 11

  function makeid(length: number) {
    let result           = '';
    let characters       = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    let charactersLength = characters.length;
    for ( let i = 0; i < length; i++ ) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
  }

  function generate() {
    if(!generated) {
      generated = true
      for(let i = 0; i < 5; i++) {
        randomSearchQueries.push(makeid(len))
      }
    } else {
      randomSearchQueries = []
      for(let i = 0; i < 5; i++) {
        randomSearchQueries.push(makeid(len))
      }
    }
  }
</script>

<style>
  .container {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  .centering {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-weight: normal;
    font-size: 1.4rem;
  }

  button {
    font-size: 1.1rem;
  }

  a {
    font-size: 1.1rem;
  }
  
  a:visited {
    color: rgb(93, 175, 10);
  }
</style>

<div class="container">
  <div class="centering">
    {#if !generated} 
      <h1>Bored? Click the button to generate link for entertainment</h1>
      <button on:click={generate}>click me :)</button>
    {:else}
      <ul>
        {#each randomSearchQueries as randomSearch (randomSearch)}
          <li>
            <a 
             href="https://yewtu.be/search?q={randomSearch}">
              click me
            </a>
          </li>
        {/each}
      </ul>
      <button on:click={generate}>more?</button>
    {/if}
  </div>
</div>